*,
::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: #007bff;
}

html {
  scrollbar-gutter: stable;
}

.body {
    max-width: 540px;
    margin: 0 auto;
    margin-block: 3rem;
    width: 90%;
}

.content {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.hidden {
  display: none;
}

.nav {
    flex-direction: row;
    justify-content: space-between;
}

.toggle {
  color: grey;
}

.toggle-left {
    margin-right: 0.5rem;
}

.toggle-right {
    margin-left: 0.5rem;
}

.toggle.active {
  color: black;
}
