*,
::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: #679f69;
    -webkit-tap-highlight-color: transparent;

}

html {
  scrollbar-gutter: stable;
}

.back-home {
    color: black;
    text-decoration: none;
}

.body {
    max-width: 540px;
    margin: 0 auto;
    padding-block: 3rem;
    width: 90%;
    position: relative;
    min-height: 100vh;
}

.content {
    margin-top: 2rem;
}

.essays,
.essay {
    margin-top: 2rem;
}

.fundamentals-list,
.fieldmanual-list {
    margin-top: 8px;
}

.fundamentals-toggle,
.fieldmanual-toggle {
    text-decoration: underline;
    cursor: pointer;
}

.flex {
    display: flex;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 1rem;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 90%;
    max-width: 540px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 999;
}

.footer-button {
    text-decoration: none;
    color: #979797;
}

.grey {
    color: #979797;
    cursor: pointer;
    text-decoration: none;
}

.hidden {
  display: none;
}

.invis {
    color: white;
    pointer-events: none;
}

.nav {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.sticky {
    position: sticky;
    background-color: #fff;
    top: 0;
}

.toggle {
  color: #979797;
  cursor: pointer;
}

.toggle-left {
    margin-right: 0.5rem;
}

.toggle-right {
    margin-left: 0.5rem;
}

.toggle.active {
  color: black;
}

