@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", serif;
}

a {
    color: #679f69;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
  scrollbar-gutter: stable;
}

.back-home {
    text-decoration: none;
}

.body {
    max-width: 540px;
    margin: 0 auto;
    margin-block: 3rem;
    width: 90%;
    position: relative;
    min-height: 100vh;
}

.button,
.button a {
    color: #979797;
}

.code { 
  white-space: pre-wrap;    
  word-wrap: break-word;   
  overflow-wrap: break-word;
}

.content {
    margin-top: 2rem;
}

.dropdown {
    cursor: pointer;
}

.essays,
.essay {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 1rem;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 90%;
    max-width: 540px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 999;
}

.git {
    justify-content: space-between;
}

.grey {
    color: #979797;
    cursor: pointer;
    text-decoration: none;
}

.hidden {
  display: none;
}

.homenav:hover {
    text-decoration: none;
}

.invis {
    color: white;
    pointer-events: none;
}

.nav {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #679f69;
}

.nav div  {
    color: black;
}

.sticky {
    position: sticky;
    background-color: #fff;
    top: 0;
}

.toggle {
  color: #979797;
  cursor: pointer;
}

.toggle-content {
  display: none;
  margin-left: 2rem;
  margin-top: 8px;
}

.toggle-group.active .toggle-content {
  display: block;
}

.toggle-left {
    margin-right: 0.5rem;
}

.toggle-right {
    margin-left: 0.5rem;
}

.toggle.active {
  color: black;
}

@media (max-width: 640px) {
    .body {
        margin-top: 0.8rem;
    }
}